# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data = "./schools_complete.csv"
student_data = "./students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
schools = pd.read_csv(school_data_to_load)
students = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(students, schools, how="left", on=["school_name", "school_name"])

In [15]:
schools_df = pd.read_csv(school_data, dtype={'School ID' : int,
                                             'school_name' : object,
                                             'type' : object, 
                                             'size' : int, 
                                             'budget' : int})

In [16]:
students_df = pd.read_csv(student_data, dtype = {'Student ID' : int,
                                                 'name' : object,
                                                 'gender' : object,
                                                 'grade' : object,
                                                 'school' : object,
                                                 'reading_score' : int,
                                                 'math_score' : int})

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
total_schools = schools_df['school_name'].count()
print(total_schools)

15

In [20]:
total_students = students_df['student_name'].count()
print(total_students)

39170

In [21]:
total_budget = schools_df['budget'].sum()

In [30]:
avg_math_score = students_df['math_score'].sum() / total_students

In [31]:
avg_reading_score = students_df['reading_score'].sum() / total_students

In [47]:
overall_passing = (avg_math_score + avg_reading_score) / 2
print(overall_passing)

80.43160582078121

In [48]:
passing_math = students_df.loc[students_df['math_score'] > 70, :]['student_name'].count()
passing_math_rate = (passing_math / total_students) * 100
print(passing_math)
print(passing_math_rate)

28356
72.39213683941792

In [49]:
passing_reading = students_df.loc[students_df['reading_score'] > 70, :]['student_name'].count()
passing_reading_rate = (passing_reading / total_students) * 100
print(passing_reading)
print(passing_reading_rate)

32500
82.97166198621395

In [50]:
school_results_df = pd.DataFrame(
        {
            'Total Schools' : total_schools,
            'Total Students' : total_students,
            'Total Budget' : total_budget,
            'Average Math Score' : avg_math_score,
            'Average Reading Score' : avg_reading_score,
            '% Passing Math' : passing_math_rate,
            '% Passing Reading' : passing_reading_rate,
            '% Overall Passing Rate' : overall_passing
        },
    index = [0]
)
print(school_results_df)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  \
0               81.87784       72.392137          82.971662

   % Overall Passing Rate
0               80.431606

In [51]:
school_results_df['Total Budget'] = school_results_df['Total Budget'].map('$ {:,.2f}'.format)

school_results_df = school_results_df[['Total Schools', 'Total Students', 'Total Budget', 
                                           'Average Math Score', 'Average Reading Score', 
                                           '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]
school_results_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$ 24,649,428.00",78.985371,81.87784,72.392137,82.971662,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [54]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data = "./schools_complete.csv"
student_data = "./students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
schools = pd.read_csv(school_data_to_load)
students = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(students, schools, how="left", on=["school_name", "school_name"])

In [69]:
total_students_school = students_df.groupby('school_name')['student_name'].count()
total_budget_school = schools_df.groupby('school_name')['budget'].sum()

In [70]:
total_students = students_df.groupby('school_name')['student_name'].count()

In [71]:
total_budget = schools_df.groupby('school_name')['budget'].sum()

In [95]:
per_student_budget = (total_budget / total_students)
print(per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [96]:
avg_math_score_school = students_df.groupby('school_name')['math_score'].sum() / total_students_school

In [97]:
avg_reading_score_school = students_df.groupby('school_name')['reading_score'].sum() / total_students_school

In [98]:
passing_math_school = students_df.loc[students_df['math_score'] > 70, :].groupby('school_name')['math_score'].count()
passing_reading_school = students_df.loc[students_df['reading_score'] > 70, :].groupby('school_name')['reading_score'].count()

In [99]:
schools_df_addendum = pd.concat([total_students_school, 
                                 total_budget_school, 
                                 avg_math_score_school, 
                                 avg_reading_score_school, 
                                 passing_math_school, 
                                 passing_reading_school], 
                               axis = 1)

In [100]:
schools_df_addendum.reset_index(inplace=True)

In [102]:
schools_df_addendum = schools_df_addendum.rename(columns={'index' : 'school_name',  
                                                        'student_name' : 'Total Students',
                                                        'budget' : 'Total School Budget',
                                                        0 : 'Average Math Score',
                                                        1 : 'Average Reading Score',
                                                        'math_score' : 'passing math raw',
                                                        'reading_score' : 'passing reading raw'
                                                        })

In [103]:
schools_df_addendum = schools_df.merge(schools_df_addendum, on='school_name')

In [104]:
schools_df_addendum['Per Student Budget'] = schools_df_addendum['Total School Budget'] / schools_df_addendum['Total Students']

In [114]:
schools_df_addendum['% Passing Math'] = (schools_df_addendum['passing math raw'] / schools_df_addendum['Total Students']) * 100

In [115]:
schools_df_addendum['% Passing Reading'] = (schools_df_addendum['passing reading raw'] / schools_df_addendum['Total Students']) * 100

In [116]:
schools_df_addendum['% Overall Passing Rate'] = (schools_df_addendum['% Passing Math'] + schools_df_addendum['% Passing Reading']) / 2

In [117]:
schools_summary = schools_df_addendum[['school_name', 
                                       'type', 
                                       'Total Students', 
                                       'Total School Budget', 
                                       'Per Student Budget', 
                                       'Average Math Score', 
                                       'Average Reading Score', 
                                       '% Passing Math', 
                                       '% Passing Reading', 
                                       '% Overall Passing Rate']]

In [118]:
schools_summary = schools_summary.rename(columns={'type' : 'School Type'})
schools_summary.set_index('school_name', inplace=True)
del schools_summary.index.name

In [119]:
schools_summary['Total School Budget'] = schools_summary['Total School Budget'].map('$ {:,.2f}'.format)
schools_summary['Per Student Budget'] = schools_summary['Per Student Budget'].map('$ {:,.2f}'.format)


schools_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,"$ 1,910,635.00",$ 655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Figueroa High School,District,2949,"$ 1,884,411.00",$ 639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Shelton High School,Charter,1761,"$ 1,056,600.00",$ 600.00,83.359455,83.725724,89.892107,92.617831,91.254969
Hernandez High School,District,4635,"$ 3,022,020.00",$ 652.00,77.289752,80.934412,64.746494,78.187702,71.467098
Griffin High School,Charter,1468,"$ 917,500.00",$ 625.00,83.351499,83.816757,89.713896,93.392371,91.553134
Wilson High School,Charter,2283,"$ 1,319,574.00",$ 578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Cabrera High School,Charter,1858,"$ 1,081,356.00",$ 582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Bailey High School,District,4976,"$ 3,124,928.00",$ 628.00,77.048432,81.033963,64.630225,79.300643,71.965434
Holden High School,Charter,427,"$ 248,087.00",$ 581.00,83.803279,83.814988,90.632319,92.740047,91.686183
Pena High School,Charter,962,"$ 585,858.00",$ 609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$ 1,049,400.00",$ 583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Rodriguez High School,District,3999,"$ 2,547,363.00",$ 637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Johnson High School,District,4761,"$ 3,094,650.00",$ 650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Ford High School,District,2739,"$ 1,763,916.00",$ 644.00,77.102592,80.746258,65.753925,77.510040,71.631982
Thomas High School,Charter,1635,"$ 1,043,130.00",$ 638.00,83.418349,83.848930,90.214067,92.905199,91.559633

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [120]:
top_performing_schools = schools_summary.sort_values('% Overall Passing Rate', ascending=False).iloc[0:5,]
top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Wilson High School,Charter,2283,"$ 1,319,574.00",$ 578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,"$ 585,858.00",$ 609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$ 1,049,400.00",$ 583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,"$ 1,081,356.00",$ 582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,"$ 248,087.00",$ 581.00,83.803279,83.814988,90.632319,92.740047,91.686183

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [121]:
bottom_performing_schools = schools_summary.sort_values('% Overall Passing Rate').iloc[0:5,]
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$ 2,547,363.00",$ 637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,"$ 1,910,635.00",$ 655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,"$ 3,094,650.00",$ 650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,"$ 1,884,411.00",$ 639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,"$ 3,022,020.00",$ 652.00,77.289752,80.934412,64.746494,78.187702,71.467098

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [122]:
students_9  = students_df.loc[students_df['grade'] == '9th',]
students_10 = students_df.loc[students_df['grade'] == '10th',]
students_11 = students_df.loc[students_df['grade'] == '11th',]
students_12 = students_df.loc[students_df['grade'] == '12th',]

In [125]:
students_9_school_count  = students_9.groupby('school_name')['grade'].count()
students_10_school_count = students_10.groupby('school_name')['grade'].count()
students_11_school_count = students_11.groupby('school_name')['grade'].count()
students_12_school_count = students_12.groupby('school_name')['grade'].count()

In [126]:
math_9_school  = students_9.groupby('school_name')['math_score'].sum() / students_9_school_count
math_10_school = students_10.groupby('school_name')['math_score'].sum() / students_10_school_count
math_11_school = students_11.groupby('school_name')['math_score'].sum() / students_11_school_count
math_12_school = students_12.groupby('school_name')['math_score'].sum() / students_12_school_count

In [128]:
math_scores_grade_school = pd.concat([math_9_school, 
                                    math_10_school,
                                    math_11_school,
                                    math_12_school],
                                    axis = 1)

In [129]:
math_scores_grade_school = math_scores_grade_school.rename(columns={0 :'9th', 1 : '10th', 2 : '11', 3 : '12'})
del math_scores_grade_school.index.name
math_scores_grade_school

                             9th       10th         11         12
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [130]:
reading_9_school = students_9.groupby('school_name')['reading_score'].sum() / students_9_school_count
reading_10_school = students_10.groupby('school_name')['reading_score'].sum() / students_10_school_count
reading_11_school = students_11.groupby('school_name')['reading_score'].sum() / students_11_school_count
reading_12_school = students_12.groupby('school_name')['reading_score'].sum() / students_12_school_count

In [134]:
reading_scores_grade_school = pd.concat([reading_9_school, 
                                    reading_10_school,
                                    reading_11_school,
                                    reading_12_school],
                                    axis = 1)

In [135]:
reading_scores_grade_school = reading_scores_grade_school.rename(columns={0 :'9th', 1 : '10th', 2 : '11th', 3 : '12th'})
del reading_scores_grade_school.index.name
reading_scores_grade_school

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [140]:
spending_df = schools_df
spending_students_df = students_df

spending_df['Per Student Budget'] = spending_df['budget'] / spending_df['size']

In [165]:
# Sample bins. Feel free to create your own bins.
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [160]:
spending_df['Spending Ranges (Per Student)'] = pd.cut(spending_df['Per Student Budget'],bins,labels=group_names)

In [167]:
spending_students_df = spending_students_df.merge(spending_df, left_on='school_name', right_on='school_name')

In [170]:
students_by_budget = spending_students_df.groupby('Spending Ranges (Per Student)')['student_name'].count()

In [171]:
avg_math_score_budget = spending_students_df.groupby('Spending Ranges (Per Student)')['math_score'].sum() / students_by_budget
avg_reading_score_budget = spending_students_df.groupby('Spending Ranges (Per Student)')['reading_score'].sum() / students_by_budget

In [172]:
passing_math_budget = (spending_students_df.loc[spending_students_df['math_score'] > 70, :].groupby('Spending Ranges (Per Student)')['math_score'].count() / students_by_budget) * 100
passing_reading_budget = (spending_students_df.loc[spending_students_df['reading_score'] > 70, :].groupby('Spending Ranges (Per Student)')['reading_score'].count() / students_by_budget) * 100

In [173]:
scores_by_spending = pd.concat([avg_math_score_budget, 
                                 avg_reading_score_budget, 
                                 passing_math_budget, 
                                 passing_reading_budget], 
                               axis = 1)

In [178]:
scores_by_spending = scores_by_spending.rename(columns={0 : 'Average Math Score',
                                                        1 : 'Average Reading Score',
                                                        2 : '% Passing Math',
                                                        3 : '% Passing Reading'})

In [179]:
scores_by_spending['% Overall Passing Rate'] = (scores_by_spending['% Passing Math'] + scores_by_spending['% Passing Reading']) / 2
scores_by_spending.index.rename('Spending Ranges (Per Student)', inplace=True)
scores_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,90.326633,93.451633,91.889133
$585-615,83.529196,83.838414,90.525156,92.471539,91.498347
$615-645,78.061635,81.434088,68.957559,80.946752,74.952156
$645-675,77.049297,81.005604,64.062373,78.372452,71.217412

## Scores by School Size

* Perform the same operations as above, based on school size.

In [211]:
size_df = schools_df
size_students_df = students_df
size_df['Per Student Budget'] = size_df['budget'] / size_df['size']

In [212]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
size_df['School Sizes'] = pd.cut(size_df['size'],size_bins,labels=group_names)

In [213]:
size_students_df = size_students_df.merge(size_df, left_on='school_name', right_on='school_name')

size_students_df.drop(['school_name'], axis=1, inplace=True)

In [216]:
students_by_size = size_students_df.groupby('School Sizes')['student_name'].count()

In [217]:
avg_math_score_size = size_students_df.groupby('School Sizes')['math_score'].sum() / students_by_size
avg_reading_score_size = size_students_df.groupby('School Sizes')['reading_score'].sum() / students_by_size

In [218]:
passing_math_size = (size_students_df.loc[size_students_df['math_score'] > 70, :].groupby('School Sizes')['math_score'].count() / students_by_size) * 100
passing_reading_size = (size_students_df.loc[size_students_df['reading_score'] > 70, :].groupby('School Sizes')['reading_score'].count() / students_by_size) * 100

In [219]:
scores_by_size = pd.concat([avg_math_score_size, 
                                 avg_reading_score_size, 
                                 passing_math_size, 
                                 passing_reading_size], 
                               axis = 1)

In [220]:
scores_by_size = scores_by_size.rename(columns={0 : 'Average Math Score',
                                                       1 : 'Average Reading Score',
                                                       2 : '% Passing Math',
                                                       3 : '% Passing Reading'})

In [221]:
scores_by_size['% Overall Passing Rate'] = (scores_by_size['% Passing Math'] + scores_by_size['% Passing Reading']) / 2
scores_by_size.index.rename('School Sizes', inplace=True)
scores_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Sizes,,,,,
Small (<1000),83.828654,83.974082,91.360691,92.368611,91.864651
Medium (1000-2000),83.372682,83.867989,89.931941,93.252758,91.592349
Large (2000-5000),77.477597,81.198674,66.382993,79.531084,72.957039

## Scores by School Type

* Perform the same operations as above, based on school type.

In [224]:
type_students_df = size_students_df
students_by_type = type_students_df.groupby('type')['student_name'].count()

In [225]:
avg_math_score_type = type_students_df.groupby('type')['math_score'].sum() / students_by_type
avg_reading_score_type = type_students_df.groupby('type')['reading_score'].sum() / students_by_type

In [226]:
passing_math_type = (type_students_df.loc[type_students_df['math_score'] > 70, :].groupby('type')['math_score'].count() / students_by_type) * 100
passing_reading_type = (type_students_df.loc[type_students_df['reading_score'] > 70, :].groupby('type')['reading_score'].count() / students_by_type) * 100

In [227]:
scores_by_type = pd.concat([avg_math_score_type, 
                                 avg_reading_score_type, 
                                 passing_math_type, 
                                 passing_reading_type], 
                               axis = 1)

In [229]:
scores_by_type = scores_by_type.rename(columns={0 : 'Average Math Score',
                                                       1 : 'Average Reading Score',
                                                       2 : '% Passing Math',
                                                       3 : '% Passing Reading'})

In [231]:
scores_by_type['% Overall Passing Rate'] = (scores_by_type['% Passing Math'] + scores_by_type['% Passing Reading']) / 2
scores_by_type.index.rename('School Type', inplace=True)
scores_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.902821,90.282106,93.152370,91.717238
District,76.987026,80.962485,64.305308,78.369662,71.337485